<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
        rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <style>
        #usersTable {
            width: 100%;
            margin: 0 auto;
            clear: both;
            border-collapse: collapse;
            table-layout: fixed;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="../" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="../fetchDataFromGithub" class="nav-link">Find Candidates</a></li>
            <li class="nav-item"><a href="../listedCandidates" class="nav-link active" class="nav-link">Listed
                    Candidates</a></li>

        </ul>
    </header>

    <div class="jumbotron text-center">
        <h1> Listed Candidates From Github</h1>
        <p>You can search them with respect to their names</p>
    </div>

    <div class="usersTable">
        <table id="usersTable" class="table dt-responsive" cellspacing="0" width="95%">
            <thead>
                <tr>
                    <th scope="col">Github Name</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Personal Website</th>
                    <th scope="col">Location</th>
                    <th scope="col">Company</th>
                    <th scope="col">Bio</th>
                    <th scope="col">Followers Count</th>
                    <th scope="col">Repositories Count</th>
                    <th scope="col">Forks Earned Count</th>
                    <th scope="col">Earned Star Count</th>
                    <th scope="col">Most Used Language</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in storedUsers %}
                <tr>
                    <th scope="row">
                        <a href="https://github.com/{{user.userName}}" target="_blank">{{user.userName}}</a>
                    </th>
                    <td>
                        <p>{{user.userName|default_if_none:""}}</p>
                    </td>
                    <td>
                        <p>{{user.email|default_if_none:""}}</p>
                    </td>
                    <th>
                        <p>{{user.websiteUrl|default_if_none:""}}</p>
                    </th>
                    <td>
                        <p>{{user.location|default_if_none:""}}</p>
                    </td>
                    <td>
                        <p>{{user.company|default_if_none:""}}</p>
                    </td>
                    <td>
                        <p>{{user.bio|default_if_none:""}}</p>
                    </td>
                    <td>
                        <p>{{user.followersCount|default_if_none:""}}</p>
                    </td>
                    <th>
                        <p>{{user.repositoriesCount|default_if_none:""}}</p>
                    </th>
                    <td>
                        <p>{{user.forksCount|default_if_none:""}}</p>
                    </td>
                    <td>
                        <p>{{user.starsCount|default_if_none:""}}</p>
                    </td>
                    <td>
                        <p>{{user.mostUsedLanguage|default_if_none:""}}</p>
                    </td>
                    <td>

                        <a role="button" class="btn btn-danger" href="{% url 'deleteCandidate' user.userName %}"
                            class="userData" value="{{user.userName}}">Remove
                            from List</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Datatable -->
    <!-- Delete data to database -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#usersTable').DataTable({
                "order": [[4, 'desc']],
                "bLengthChange": false,
                "pageLength": 5,
                "responsive": true
            });
        });

    </script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>